* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  min-height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

// --------------------------------------------------------------------------

@text-white: #ffffff;
@nav-bg: rgba(0, 0, 0, 0.6);
@text-gray: #777777;
@text-black: #000000;
@text-red: #dd2f31;
@footer-bg-top: #222222;
@footer-bg-bottom: #111111;
@shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

.max-width-content(@max-width) {
  max-width: @max-width;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: auto;
}

.max-width-content-not-pad(@max-width) {
  max-width: @max-width;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}

.max-width-content-not-mar(@max-width) {
  max-width: @max-width;
  width: 100%;
  box-sizing: border-box;

}

.text-format(@font-weight, @font-size) {
  // line-height: @line-height;
  font-weight: @font-weight;
  font-size: @font-size;
}

.style-hr {
  max-width: 1170px;
  width: 100%;
  margin: auto;
  border-width: 1px;
}



.center-el-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive(@maxWidth; @rules) {
  @media only screen and (max-width: @maxWidth) {
    @rules();
  }
}

.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-wrap(@values : wrap ) {
  -webkit-flex-wrap: @values;
  -moz-flex-wrap: @values;
  -ms-flex-wrap: @values;
  -o-flex-wrap: @values;
  flex-wrap: @values;
}

.order(@val) {
  -webkit-box-ordinal-group: @val;  
  -moz-box-ordinal-group: @val;     
  -ms-flex-order: @val;     
  -webkit-order: @val;  
  order: @val;
}



// ---------------------------Header Start-------------------------------------


.container {
  width: 100%;
  margin: auto;
}

.bg {
  background-image: url("../img/banner.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-size: contain;
  height: 950px;
  position: relative;

  .navbar {
    background-color: @nav-bg;

    .navbar-inner {

      min-height: 103px;
      .flexbox;
      .flex-wrap;
      justify-content: space-between;
      align-items: center;

      .navbar__logo {
        cursor: pointer;
        width: 20%;
        .flexbox;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        ul {
          display: none;
          // .flexbox;
          text-decoration: none;
          justify-content: space-evenly;
          align-items: center;
          span {
            color: @text-white;
            font-size: 14px;
            padding: 0 5px;
          }
          i {
              color: @text-white;
              font-size: 14px;
              padding: 0 5px;
              &:last-child {
                padding: 0 0 0 5px;
              }
            }
            .responsive(768px, {
              .flexbox;
            })
        }

        img {
          width: auto;
          .responsive(768px, {
            width: 165px;
          });
          .responsive(375px, {
            width: 120px;
          })
        }

        i {
          cursor: pointer;
          display: none;
          color: @text-white;
          font-size: 36px;
          .responsive(768px, {
            display: block;
          });
          .responsive(576px, {
            font-size: 32px;
          })
        }
        .responsive(768px, {
          justify-content: space-between;
          width: 100%;
          padding: 15px 0;
        })
      }

      .navbar__link {
        width: 60%;
        ul {
          .flexbox;
          text-decoration: none;
          justify-content: space-evenly;

          li {
            display: block;

            a {
              color: @text-white;
              line-height: 28px;
              .text-format(300,16px);

              .responsive(768px, {font-size: 14px;});
              // .responsive(576px, {font-size: 18px;})
            }
            .responsive(768px, {
              padding: 10px 0;           
            })
          }
          .responsive(768px, {
            width: 100%;
            align-items: center;
            margin: 30px 0;
            flex-direction: column;
          })
        }
        .responsive(768px, {
          width: 100%;
          display: none;
        });
      }

      .navbar__icon {
        width: 20%;

        span {
          color: @text-white;
        }

        ul {
          .flexbox;
          justify-content: flex-end;
          text-decoration: none;
          align-items: center;

          li {
            display: block;
            padding: 0 24px;

            &:last-child {
              padding: 0 0 0 30px;

              .responsive(768px, {
                  padding: 0 16px;
                });
            }

            a {
              color: @text-white;
              .responsive(768px, {font-size: 14px;});
            }

            .responsive(768px, {
                 padding: 0 16px;
               });
          }
          .responsive(576px, {
            justify-content: center;
          })
        }
        .responsive(768px, {
          // width: 100%;
          // margin-bottom: 50px;
          display: none;
        })
      }



      .max-width-content-not-pad(1170px);
      .responsive(768px, {
        min-height: 80px;
      });
      .responsive(1024px, {
        padding: 0 15px;
      })

    }

    .responsive(768px, {
      // height: 100vh;
      position: absolute;
      z-index: 1999;
      width: 100%;
      background-color: #222222;
    })
  }

  .slider {
    margin: -11px auto;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .slider-text {
      h1 {
        word-spacing: -3.7px;
        color: @text-white;
        .text-format(700, 60px);

        .responsive(576px, {
          font-size: 35px;
        });
        .responsive(375px, {
          font-size: 24px;
        })
      }

      h2 {
        color: @text-white;
        line-height: 1;
        word-spacing: -2.5px;
        .text-format(700, 40px);

        .responsive(576px, {
          font-size: 27px;
        });
        .responsive(375px, {
          font-size: 20px;
        })
      }

      p {
        line-height: 24px;
        margin-top: 31px;
        line-height: 24px;
        color: @text-white;
        .text-format(400, 14px);

        .responsive(576px, {
          margin-top: 11px;
          line-height: 17px;
          font-size: 12px;
        });
        .responsive(375px, {
          margin-top: 11px;
          line-height: 15px;
          font-size: 10px;
        });

        span {
          display: block;

          .responsive(992px, {
            display: inline;
          })
        }
      }

      button {
        cursor: pointer;
        margin-top: 55px;
        width: 170px;
        height: 51px;
        background: none;
        border: 1px solid #ccc;
        padding: 15px 20px;
        text-transform: uppercase;
        color: #fff;

        &:hover {
          background-color: @text-gray;
          border: 1px solid @text-gray;
          box-shadow: @shadow;
        }

        .responsive(576px, {
          margin-top: 23px;
          width: 126px;
          height: 38px;
          padding: 9px 20px;
        });
        .responsive(375px, {
          margin-top: 20px;
          width: 96px;
          height: 30px;
          padding: 6px 12px;
          font-size: 11px;
        })
      }
    }
    .max-width-content-not-mar(1170px);
    .responsive(1024px, {
      padding: 0 15px;
    });

    .responsive(992px, {
      height: auto;
    });
    .responsive(375px, {
      top: 60%;
      left: 50%;
      -ms-transform: translate(-50%, -60%);
      transform: translate(-50%, -60%);
    })
  }

  .responsive(992px, {
    height: 800px;
  });
  .responsive(768px, {
    height: 650px;
  });
  .responsive(576px, {
    height: 500px;
  });
  .responsive(375px, {
    background-position: top right;
  })
}

// ---------------------------Header End----------------------------------------

// ---------------------------Category Product Start----------------------------

.category-product {
  margin: -77px auto 0 ;
  position: relative; //-77px
  .flexbox;
  .flex-wrap;

  .responsive(1024px, {
    padding: 0 15px;
  });

  .responsive(768px ,{
    .categoty-product-box:nth-of-type(1) {
      .order(1);
    }
    .categoty-product-box:nth-of-type(2) {
      .order(2);
    }
    .categoty-product-box:nth-of-type(3) {
      .order(4);
    }
    .categoty-product-box:nth-of-type(4) {
      .order(3);
    }
    .categoty-product-box:nth-of-type(5) {
      .order(5);
    }
    .categoty-product-box:nth-of-type(6) {
      .order(6);
    }
  });

  .responsive(375px, {
    .categoty-product-box:nth-of-type(1) {
      .order(1);
    }
    .categoty-product-box:nth-of-type(2) {
      .order(2);
    }
    .categoty-product-box:nth-of-type(3) {
      .order(3);
    }
    .categoty-product-box:nth-of-type(4) {
      .order(4);
    }
    .categoty-product-box:nth-of-type(5) {
      .order(5);
    }
    .categoty-product-box:nth-of-type(6) {
      .order(6);
    }
  });

  .categoty-product-box {
    background-color: #fff;
    text-align: center;
    width: calc(100% / 3);

    //center box-text from bottom to top
    .flexbox;
    justify-content: center;
    align-items: flex-end;

    .responsive(768px ,{
      width: calc(100% / 2);
    });

    .responsive(375px ,{
      width: 100%;
      box-sizing: border-box;
      padding: 15px;
      box-shadow: @shadow;
      margin-bottom: 15px;

    });

    &--inner {
      padding-bottom: 33px;

      img {
        width: fit-content;
        height: auto;
      }

      h1 {
        color: @text-black;
        margin-bottom: 18px;
        margin-top: 22px;
        // letter-spacing: 1px;
        text-transform: uppercase;
        .text-format(700, 18px);

        .responsive(576px, {
          margin-bottom: 7px;
          margin-top: 0;
          font-size: 16px;
        });
      }

      p {
        line-height: 24px;
        color: @text-gray;
        .text-format(400, 14px);

        .responsive(576px, {
          line-height: 21px;
          font-size: 12px;
        });
      }

      .responsive(1024px, {
        padding-bottom: 10px
      });
    }
  }
  .max-width-content-not-mar(1170px);
}

// ---------------------------Category Product Start----------------------------

// ---------------------------List Product Start--------------------------------

.product {
  // max-width: 1170px;

  .tab-bar {
    .flexbox;
    align-items: center;
    justify-content: start;
    margin-top: 80px;
    // margin-bottom: 25px ; //demo

    .btn {
      padding: 15 18px;
      border: none;
      text-transform: uppercase;
      line-height: 25px;
      letter-spacing: 1;
      color: @text-black;
      background: none;
      box-sizing: border-box;
      // border-bottom: 2px solid @text-gray;
      .text-format(700, 18px);

      .responsive(576px, {
        font-size: 16px;
        padding: 15 10px;
        line-height: 20px;
        letter-spacing: 0;
        });
    }

    .active {
      color: @text-red;
      border-bottom: 2px solid @text-red;
      margin-bottom: -2px;
    }

    .responsive(375px, {
      justify-content: center;
    });
  }

  .hr-style {
    margin-bottom: 40px;
    .responsive(768px, {
      margin-bottom: 10px;
    });
    .style-hr;
  }

  #list-product {
    margin : 0 -15px;
    margin-top: 40px;
    margin-bottom: 60px;
    .flexbox;
    .flex-wrap;

    .product-item-wrap {
      width: 25%;
      position: relative;
      box-sizing: border-box;
      padding: 0 15px;
      margin-bottom: 44px;


      &:hover .list-icon {
        display: block;
      }

      .product-item-inner {
        &:hover {
          box-shadow: @shadow;
        }

        &__img {
          // height: 230px;
          .flexbox;
          justify-content: center;
          align-items: center;
        }

        &__text {
          height: 100px;
          box-sizing: border-box;
          .flexbox;
          justify-content: flex-start;
          align-items: center;

          &--name {
            padding-left: 30px;

            p:nth-child(1) {
              line-height: 24px;
              color: @text-black;
              .text-format(400, 14px);
            }

            p:nth-child(2) {
              line-height: 24px;
              color: @text-black;
              .text-format(700, 14px);
            }
          }
        }

        .responsive(1024px, {
          box-shadow: @shadow;
        });
      }

      .list-icon {
        display: none;
        position: absolute;
        top: 10%;
        right: 10%;

        li {
          width: 35px;
          height: 35px;
          border: 1px solid @text-gray;
          border-radius: 8px 0;
          position: relative;
          margin-bottom: 20px;

          &:hover {
            background: @text-red;
            border: 1px solid @text-red;
          }

          // &:hover .product-item-wrap{
          //   border: 1px solid @text-red;
          // }

          &:hover a i {
            color: @text-white;
          }
        }

        li a i {
          position: absolute;
          color: @text-gray;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .responsive(1024px, {
          display: block;
        })
      }

      .responsive(768px, {
      width: 50%;
      });

      .responsive(375px, {
      width: 100%;
       });
    }
  }
  .responsive(1024px, {
    padding: 0 15px
  });
  .max-width-content-not-pad(1170px);
}

// ---------------------------List Product End--------------------------------

// ---------------------------Client Say Start--------------------------------

.client-say {
  // margin: 62px auto 0;
  // height: 450px;
  // max-width: 1170px;

  h1 {
    text-align: center;
    margin-bottom: 54px;
    text-transform: capitalize;
    line-height: 30px;
    color: @text-black;
    .text-format(700, 36px);

    .responsive(768px, {
      margin-bottom: 30px;
    });
    .responsive(576px, {
      font-size: 28px;
    });
    .responsive(576px, {
      font-size: 22px;
    });
  }

  .client-item {
    text-align: center;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }

    p:nth-child(2) {
      margin: 0 auto;
      margin-top: 24px;
      line-height: 30px;
      color: @text-gray;
      .text-format(400, 18);

      .responsive(576px, {
        font-size: 16px;
        margin-top: 18px;
      });
      .responsive(375px, {
        font-size: 14px;
        line-height: 24px;
      });
    }

    p:nth-child(3) {
      padding: 27px 0 5px;
      color: @text-black;
      line-height: 30px;
      .text-format(700, 18px);

      .responsive(576px, {
        padding: 10px 0 5px;
      });
    }

    p:nth-child(4) {
      color: @text-gray;
      // line-height: 30px;
      .text-format(400, 14px);
    }

    span {
      display: block;
      .responsive(768px, {display: inline;});
    }
  }

  .max-width-content(1170px);
}

.owl-dots {
  margin: 40px 0 100px;

  .owl-dot {
    margin: 0 5px;
    background: @text-gray;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .active {
    margin: 0 5px;
    background: @text-red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .center-el-vertical;
  .responsive(768px, { margin: 30px 0;});
}

// ---------------------------Client Say End--------------------------------

// ---------------------------List Brand Start--------------------------------

.list-brand {
  // max-width: 1170px;
  // height: 179px;
  margin: 15px auto 36px;
  .flexbox;
  .flex-wrap;
  align-items: center;
  justify-content: space-between;

  .brand {
    width: calc(100% / 6);
    box-sizing: border-box;
    .flexbox;
    justify-content: space-around;
    align-items: center;
    margin-top: 26px;
    color: @text-gray;

    .responsive(768px, {
      width: calc(100% / 2);
    });

    .responsive(375px, {
      width: 100%;
      margin: 15px 0;
    });

    img {
      // filter: brightness(1.5);
      &:hover {
        filter: brightness(1.5);
      }
    }
  }
  .max-width-content-not-mar(1170px);
  .responsive(1024px, {
    padding: 0 15px;
  })
}

// ---------------------------List Brand End--------------------------------

// ---------------------------Footer Start--------------------------------

footer {
  text-align: center;
  background-color: @footer-bg-top;
}

.footer {
  // height: 722px;
  .max-width-content-not-pad(1170px);

  .footer__top {
    .flexbox;
    justify-content: center;
    align-items: center;

    &__inner {
      margin-top: 100px;

      p {
        line-height: 24px;
        color: @text-gray;
        .text-format(400, 14px);
        margin: 32px auto;

        span {
          display: block;

          .responsive(768px, {
            display: inline;
          });
        }

        .responsive(768px, {
          font-size: 12px;
          margin: 16px auto;
        });
      }

      &--icon {
        .flexbox;
        align-items: center;
        justify-content: center;
        margin-bottom: 43px;

        li {
          margin-right: -9px;
          padding: 8px 6px;

          a {
            padding: 20px;

            i {
              font-size: 20px;
              color: @text-gray;

              &:hover {
                color: @text-white;
              }

              .responsive(768px, {
                font-size: 14px;
              });
            }
          }
        }

        .responsive(768px, {
          margin-bottom: 20px;
        });
      }

      .responsive(768px, {
        margin-top: 35px;
      });
    }
  }

  .footer__content {
    margin: 57px auto 37px;
    .flexbox;
    .flex-wrap;

    .footer__content--col {
      width: 25%;
      box-sizing: border-box;
      text-align: left;

      h1 {
        text-transform: uppercase;
        line-height: 30px;
        color: @text-white;
        margin: 16px 0;
        .text-format(700,18px);

        .responsive(768px,{
          margin: 0;
          font-size: 16px;
        });
      }

      li a {
        line-height: 40px;
        color: @text-gray;
        .text-format(400, 14px);

        &:hover {
          color: @text-white;
        }

        .responsive(1024px, {font-size: 12px});
      }

      .responsive(768px, {
        width: 50%;
      });
      .responsive(375px, {
        width: 100%;
        text-align: center;
        padding: 7px 0;
      });
    }
    .responsive(768px, {
      margin: 18px auto 0;
    });
  }


  .responsive(1024px, {
    padding: 0 15px;
  })
}

.copyright {
  text-align: center;
  background-color: @footer-bg-bottom;
  p {
    padding: 10px 15px;
    line-height: 30px;
    color: @text-gray;
    .text-format(400, 14px);

    a {
      color: @text-gray;

      &:hover {
        color: @text-white;
      }
    }

    .responsive(768px, {
      font-size: 12px;
    });
  }
}

// ---------------------------Footer End--------------------------------

// ---------------------------Pre Loading--------------------------------

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
  // z-index: 9999;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}